# Ignore Python cache files
__pycache__/

# Ignore virtual environment
.venv/
.recogenv/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/